name: PR Review

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

permissions:
  contents: read
  pull-requests: write
  issues: write
  id-token: write

jobs:
  review:
    uses: noise-xyz/noise-terraform/.github/workflows/pr-review-reusable.yml@3d91312dae364bcce530709db73a8605c1b69ed5
    with:
      project-review-rules-path: .github/project-pr-review-rules.md
      auto-approve: true
      dedupe-with-other-bots: true
      auto-update-pr-description: true
    secrets: inherit
